<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Resultado de Búsqueda</title>
    </head>
    <body>
        <h1>Resultado de Búsqueda de Cursos</h1>

        <form action="/buscarCursosPorNombre" method="get">
            <label for="nombre">Buscar por nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <button type="submit">Buscar</button>
        </form>

        <div class="table-responsive">
            <table class="table table-responsive table-sm table-light table-striped table-bordered table-hover">
                <thead>
                    <tr class="success">
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Fecha Inicio</th>
                        <th>Minimo alumnos</th>
                        <th>Inscritos</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="curso : ${cursos}">
                        <td th:text="${curso.idcurso}"></td>
                        <td th:text="${curso.nomcurso}"></td>
                        <td th:text="${#dates.format(curso.fechainicio, 'dd/MM/yyyy')}"></td>
                        <td th:text="${curso.alumnosmin}"></td>
                        <td th:text="${curso.alumnosact}"></td>
                        <td th:text="${curso.estado}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
